<div class="book-list-container">
  <h2 *ngIf="totalBooks > 0">You have {{ totalBooks }} books</h2>
  <div>
    <mat-card *ngFor="let book of books" class="book-card">
      <mat-card-title>{{ book.title }}</mat-card-title>
      <mat-card-content>
        <p>Status: {{ book.status }}</p>
        <p>{{ book.content | slice : 0 : 100 }}...</p>
      </mat-card-content>
      <mat-card-actions >
        <button mat-raised-button color="primary" (click)="editBook(book.id)">
          Edit
        </button>
        <button mat-raised-button color="primary" (click)="editBook(book.id)">
          Share
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
